In [1]:
#importando Pandas
import pandas as pd
import dtale as dtale

from ydata_profiling import ProfileReport  
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Criando o DF
df = pd.read_csv('../data/raw/CoAHD/Cost_Affordability_Healthy_Diet_(CoAHD)_E_All_Data_(Normalized).csv', sep=',', encoding='ISO-8859-1',low_memory=False)

In [3]:
#vendo as colunas
df.columns

Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Year Code', 'Year', 'Unit', 'Value',
       'Flag'],
      dtype='object')

In [4]:
#contando quantos paises
df['Area'].nunique()

220

In [5]:
#existem paises aglomerados
df.head(100)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,3,'008,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,2017,2017,PPP dollar per person per day,3.952,E
1,3,'008,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,2018,2018,PPP dollar per person per day,4.069,E
2,3,'008,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,2019,2019,PPP dollar per person per day,4.262,E
3,3,'008,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,2020,2020,PPP dollar per person per day,4.280,E
4,3,'008,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,2021,2021,PPP dollar per person per day,4.388,E
...,...,...,...,...,...,...,...,...,...,...,...,...
95,9,'032,Argentina,7007,Cost of starchy staples,6226,Value,2017,2017,PPP dollar per person per day,0.463,E
96,9,'032,Argentina,7008,Cost of animal source foods,6226,Value,2017,2017,PPP dollar per person per day,0.669,E
97,9,'032,Argentina,7009,"Cost of legumes, nuts and seeds",6226,Value,2017,2017,PPP dollar per person per day,0.656,E
98,9,'032,Argentina,7010,Cost of vegetables,6226,Value,2017,2017,PPP dollar per person per day,0.703,E
99,9,'032,Argentina,7011,Cost of fruits,6226,Value,2017,2017,PPP dollar per person per day,0.733,E

In [6]:
#vendo os paises unicos
df['Area Code'].unique()

array([   3,    4,    7,  258,    8,    9,    1,   22,   10,   11,   52,
         12,   13,   16,   57,  255,   23,   53,   17,   18,   19,   80,
         20,   21,  239,   26,   27,  233,   29,   35,  115,   32,   33,
         36,   37,   39,   40,   96,   41,  214,   44,   46,   48,  107,
         98,  279,   50,  167,  250,   54,   72,   55,   56,   58,   59,
         61,   63,  209,  238,   66,   67,   68,   74,   75,   79,   81,
         84,   86,   90,  175,   91,   93,   95,   97,   99,  100,  101,
        102,  103,  104,  105,  106,  109,  110,  112,  108,  114,  118,
        113,  120,  119,  122,  123,  126,  256,  129,  130,  131,  132,
        133,  134,  136,  137,  138,  141,  273,  142,  143,  144,   28,
        147,  149,  150,  156,  157,  158,  159,  154,  162,  221,  165,
        299,  166,  169,  170,  171,  173,  174,  179,  117,  146,  183,
        185,  184,  188,  189,  191,  193,  194,  195,  272,  196,  197,
        200,  280,  199,  198,  202,  203,   38,  276,  207,  210,  211,
        208,  216,  220,  222,  223,  224,  226,  225,  229,  215,  231,
        234,  237,  251,  181, 5000, 5100, 5101, 5102, 5103,  429, 5104,
       5105,  420, 5810, 5200, 5203,  336, 5204, 5205, 5206, 5207, 5208,
       5300, 5301, 5306, 5857, 5302, 5307, 5829, 5303, 5855, 5304, 5305,
       5308, 5828, 5400, 5401, 5402, 5403, 5404, 5500, 5501, 5707, 5801,
       5802, 5803, 5815, 5817, 5858, 5859, 9010, 9011, 5848, 5849, 5873])

In [7]:
#removendo os aglomerados do df, códigos 96, 214, 336, 420, 429 e acima de 5000
df_filtrado = df[(df['Area Code'] < 5000) & (~df['Area Code'].isin([96, 214, 336, 420, 429]))]
#96		China, Hong Kong SAR
#214	China, Taiwan Province of
#336	North and Central America
#420	Sub-Saharan Africa
#429	Northern Africa (excluding Sudan)
#5000	World
#5101	Eastern Africa
#5102	Middle Africa
#5103	Northern Africa
#5104	Southern Africa
#5105	Western Africa
#5203	Northern America
#5204	Central America
#5205	Latin America and the Caribbean
#5207	South America
#5208	Northern America and Europe
#5301	Central Asia
#5302	Eastern Asia
#5303	Southern Asia
#5304	South-eastern Asia
#5305	Western Asia
#5306	Central Asia and Southern Asia
#5307	Eastern Asia and South-eastern Asia
#5308	Western Asia and Northern Africa
#5401	Eastern Europe
#5402	Northern Europe
#5403	Southern Europe
#5404	Western Europe
#5500	Oceania
#5707	European Union (27)
#5801	Least Developed Countries
#5802	Land Locked Developing Countries
#5810	Sub-Saharan Africa (including Sudan)
#5815	Low Income Food Deficit Countries
#5817	Net Food Importing Developing Countries
#5828	Western Asia (exc. Armenia, Azerbaijan, Cyprus, Israel and Georgia)
#5829	Eastern Asia (excluding Japan and China)
#5849	Non-Annex I countries
#5855	Southern Asia (excluding India)
#5857	Caucasus and Central Asia
#5858	Low income economies
#5859	Lower-middle-income economies
#5873	OECD
#9010	High-income economies
#9011	Upper-middle-income economies

In [8]:
#verificando a quantidade de países removidos
print("Antes da remoção: ", df['Area Code'].nunique())
print("Depois do melt: ", df_filtrado['Area Code'].nunique())

Antes da remoção:  220
Depois do melt:  167

In [9]:
#dtale.show(df)

In [10]:
#Verificando se existem dados nulos
print(df_filtrado.isnull().sum())

Area Code            0
Area Code (M49)      0
Area                 0
Item Code            0
Item                 0
Element Code         0
Element              0
Year Code            0
Year                 0
Unit                 0
Value              254
Flag                 0
dtype: int64

In [11]:
#existem dados nulos, apagando todas as linhas nulas
#nao apagar agora, somente depois do merge das bases
#df_filtrado = df_filtrado.dropna(subset=['Value'])

In [12]:
#reset do indice
df_filtrado = df_filtrado.reset_index(drop=True)

In [13]:
#dtale.show(df_filtrado)

In [14]:
#Transpondo os valores dos itens para colunas
df_pivot = df_filtrado.pivot_table(index=['Area Code', 'Area', 'Year'], columns='Item', values='Value').reset_index()

In [15]:
# Substituir o código de área 41 para China, mainland por 351
df_pivot.loc[(df_pivot['Area Code'] == 41) & (df_pivot['Area'] == 'China, mainland'), 'Area Code'] = 351

In [16]:
dtale.show(df_pivot)

In [17]:
#salvar em CSV
df_pivot.to_csv('../data/transformed/CoAHD-Emerson.csv', index=False)